<?xml version="1.0" encoding="utf-8"?>

<robot name="khm2" xmlns:xacro="http://www.ros.org/wiki/xacro">

<link name="rock">
  <visual>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://khm2_description/models/Rock1.dae"/>
    </geometry>
  </visual>
  <collision>
    <geometry>
      <mesh filename="package://khm2_description/models/Rock1.dae"/>
    </geometry>
  </collision>
  <inertial>
    <mass value="0.06925"/>
    <origin xyz="0 0 0"/>
    <xacro:cylinder_inertia m="0.06925" r="0.112" h="0.127"/> 
  </inertial>
</link>