<?xml version="1.0"?>
<launch>

    <!-- call nodes that load gazebo, rover, and soil based on trial config -->
    <!-- load trial parameters -->
    <node name="set_floor_rotation_node" pkg="khm2_verification_pipeline" type="init_trial.py" output="screen"/>
    <include file="$(find khm2_bringup)/launch/simulation.launch"/>
    <include file="$(find khm2_bringup)/launch/rover.launch"/>


</launch>